.titre{
	padding-top:50px;
	text-align: center;
}

.style_bouton {
    margin-top: 50px;
    display: block;
}

.A {
	color : #28a745;
}

.ECA {
	color : #ffc107;
}

.NA {
	color : #dc3545;
}

.onflyhover {
	background-color: white;
}

.link {
    cursor: pointer;
}