<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>QCM</display-name>
  <welcome-file-list>
    <welcome-file>connexion</welcome-file>
  </welcome-file-list>
  
  <!-- servlet question -->
  <servlet-mapping>
    <servlet-name>questionController</servlet-name>
    <url-pattern>/gestionQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>questionController</servlet-name>
    <servlet-class>fr.eni.tp.qcm.ihm.controller.QuestionController</servlet-class>
  </servlet>
  <!--  jsp question -->
  <servlet>
    <servlet-name>questionJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/question.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>questionJSP</servlet-name>
    <url-pattern>/question/</url-pattern>
  </servlet-mapping>
  <!-- servlet epreuve -->
    <servlet>
    <servlet-name>epreuveController</servlet-name>
    <servlet-class>fr.eni.tp.qcm.ihm.controller.EpreuveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>epreuveController</servlet-name>
    <url-pattern>/gestion/consulterResultat</url-pattern>
  </servlet-mapping>
  <!--  jsp consulter resultat -->
  <servlet>
    <servlet-name>consulterResultatJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/consulterResultat.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>consulterResultatJSP</servlet-name>
    <url-pattern>/consulterResultat/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>connexion</servlet-name>
    <jsp-file>/WEB-INF/jsp/connexion.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>400</error-code>
    <location>/forward/listeArticle/new</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/technicalError</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error/accessDenied</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/pageNotFound</location>
  </error-page>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>DefaultDenyForwards</web-resource-name>
      <url-pattern>/forward/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>NoAccess</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>